body {
  background-color: #202020;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  margin-bottom: 25px;
}

img {
  width: 60%;
}

hero p {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  font-size: 18px;
  margin-top: 30px;
  color: #f65282;
}

h2,
hero h2 {
  margin-bottom: 15px;
  color: #f65282;
  font-weight: small;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p {
  line-height: 1.7;
  text-align: justify;
}

.hero {
  text-align: center;
  padding: 150px 50px;
  background-image: url("/images/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.homepage {
  background: #282323;
  padding: 15px 15px;
}

.container-fluid {
  margin: 0 auto;
}

.content {
  padding-right: 15px;
  flex: 1;
}

.btn-branding {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: #202020;
  border-color: white;
  border-radius: 50px;
  margin-top: 48px;
  padding: 12px 20px;
  font-size: 11px;
  letter-spacing: 0.1em;
}

@media (max-width: 800px) {
  .hero {
    padding-bottom: 30px;
  }
  .btn-branding {
    display: block;
  }
  h2,
  hero h2 {
    text-align: center;
  }
}
