body {
  background-color: #e9e8e8;
}



h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  margin-bottom: 25px;
}



hero p {
  font-family: "Roboto", sans-serif;
  font-weight: regular;
  font-size: 18px;
  margin-top: 30px;
  color: #f65282;
}

h2,
hero h2 {
  margin-bottom: 15px;
  color: #f65282;
  font-weight: small;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p {
  line-height: 1.7;
  text-align: justify;
}

.hero {
  text-align: center;
  padding: 100px 10px;
  background-color: #e9e8e8;
  margin: 0 auto;
  max-width: 1500px;
}

.hero .hello {
    padding-top: 80px;
}

.index-work-section {
    max-width: 1200px;
    margin-bottom: 50px;
}

.index-work-carousel {
    padding: 70px;
}

.certificate-section {
    padding: 100px;
}

.about-section {
    padding: 100px 0px 20px 0px;
}

.about-section h1 {
    font-size: 40px;
}

.about-section p {
    color: #202020;
}

.about-section .email-link {
    color: #f65282;
}

.about-me {
    margin-top: 130px;
}

.skills-container {
    padding: 100px;
}

.skills-container .fab {
    display: block;
    font-size: 40px;
}

.content {
  background-color: #dadadadc;
  padding: 50px 30px;
  width: 600px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
}

.homepage {
  background: #e9e8e8;
  padding: 15px 15px;
}

.projects .container {
  padding: 10px 20px 10px 20px;
  margin: 0 auto;
}

.projects .row {
  background-color: #dadadadc;
  border-radius: 5px;
}

.content p {
  color: white;
}
.btn-branding {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: #202020;
  border-color: white;
  border-radius: 50px;
  margin-top: 48px;
  padding: 12px 20px;
  font-size: 11px;
  letter-spacing: 0.1em;
}

.btn-branding:hover {
    color: #f65282;
}

.icon {
  padding: 0;
}

.fab,
.fas {
  color: #f65282;
  font-size: 18px;
}

.work-section {
  padding: 120px 20px 20px 20px;
}

.work-hero {
  text-align: center;
  padding: 120px 0px;
}

.work-carousel {
  max-width: 60%;
  margin: 0 auto;
  padding: 120px 20px 20px 20px;
}

.work-carousel h5 {
  color: #f65282;
  font-weight: 20px;
}

.contact-section {
  padding: 150px 50px;
  
}

.contact-section ul {
    list-style-type: none;
    padding: 0px;
}

.contact-section p {
    color: #202020;
}
.email-link {
  text-decoration: none;
  color: #202020;
}

.email-link:hover {
  color: #f65282;
}

footer {
  text-align: center;
  width: 100%;
  padding: 10px 10px;
}

.sheCodesLogo {
  width: 65px;
  margin: 0 auto;
}

footer .social-links a {
  text-decoration: none;
  padding: 10px 14px;
  font-size: 20px;
  margin: 0 20px;
}

@media (max-width: 800px) {
  .hero {
    padding-bottom: 80px;
  }
  .content {
    max-width: 330px;
    height: auto;
  }
  .projects .container {
    padding: 20px;
  }
  .about-me {
    margin-top: 0px;
}
.skills-container {
    padding: 0px;
}
.certificate-section {
    padding: 20px;
}
  .work-hero {
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .btn-branding {
    
    margin-top: 20px;
    font-size: 10px;
  }
  .work-carousel {
    max-width: 100%;
  }
  h2,
  h1,
  hero h2 {
    text-align: center;
    font-size: 15px;
  }
  .icon {
    width: 50px;
  }
  h1 {
    font-size: 27px;
  }
  footer .social-links a {
    padding: 3px;
  }
}
